/* div#selectors {
  display: flex;
} */

label.dropdown-labels {
  margin: 10px;
}

.gridlines {
  opacity: 20%;
}

svg#main {
  width: 200;
  height: 200;
}

#person {
  transition-duration: 1000ms;
}
