/* div#selectors {
  display: flex;
} */

label.dropdown-labels {
  margin: 10px;
}

.gridlines {
  opacity: 20%;
}

svg#main-vis {
  padding-left: 10px;
}

#exp-bg {
  opacity: 25%;
  width: 157%;
  transform-origin: center;
  scale: 120%;
}
